.test-yourself-container {
  text-align: center;
  padding: 25px;
}

/* Language Selection Section */
.language-selection {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  justify-content: center;
  padding: 15px;
}

.language-card-container {
  background-color: white;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 160px;
}

.language-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  border-radius: 8px;
  transition: transform 0.2s;
  font-size: 1.1rem;
}

.language-card:hover {
  transform: scale(1.07);
}

.language-image {
  width: 140px;
  height: 100px;
  border-radius: 10px;
  object-fit: cover;
}

/* Quiz Container */
.quiz-container,
.test-yourself-quiz {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.quiz-container {
  background: #f8f9fa;
}

.test-yourself-quiz {
  background: #fff8f0;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* Word Arrangement Section */
.word-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}

.word-button,
.selected-word {
  display: inline-block;
  width: 120px;
  padding: 10px 15px;
  margin: 5px;
  font-size: 16px;
  text-align: center;
  border: 2px solid #444;
  border-radius: 8px;
  background-color:  #57b843;
  cursor: pointer;
  transition: background-color 0.3s;
}

.word-button:hover,
.selected-word:hover {
  transform: scale(1.05);
}

.selected-word {
  background-color: #d9edf7;
  border-color: #31708f;
}

/* Progress Bar */
.progress-bar-container {
  width: 100%;
  height: 10px;
  background-color: #e0e0e0;
  border-radius: 5px;
  margin-bottom: 20px;
}

.progress-bar {
  height: 100%;
  background-color: #007bff;
  border-radius: 5px;
  transition: width 0.3s ease-in-out;
}

/* General Buttons */
button,
.submit-button,
.go-back-button,
.select-language-button {
  background-color: #45a049;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
  margin: 5px;
  width: 140px;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}

.select-language-button {
  width: 200px;
}




